[submodule "libft"]
	path = libft
	url = git@github.com:Iipal/lft.git
[submodule "libftprintf"]
	path = libftprintf
	url = git@github.com:Iipal/ft_printf-42.git
[submodule "libstructs"]
	path = libstructs
	url = git@github.com:Iipal/libstructs.git
